html,
body,
#root,
.App,
.layout {
    width: 100%;
    height: 100%;
    font-family: 'SF Pro Text';
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.layout {
    display: flex;
}

.app-menu {
    width: 9.27%;
    background: #fafbff;
    border-right: 2px solid #f1f5fd;
}

.app-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app-header {
    height: 9.26%;
    border-bottom: 2.07px solid #f1f5fd;
}

/* App menu */
.app-menu {
    display: flex;
    flex-direction: column;
}

.app-menu .logo {
    display: flex;
    height: 9.26%;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.logo-mobile {
    display: none;
}

.app-menu .logo img {
    width: 100%;
    aspect-ratio: 108.88 / 41.36;
    max-width: 108.88px;
}

.main-menu {
    flex: 1;
}

.main-menu .menu {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu .menu-item {
    margin: 25.58% 0;
    width: 100%;
}

.menu .menu-item .menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    position: relative;
}

.menu .menu-item .menu-link::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 8px;
    background: #6083ff;
    border-radius: 10px 0px 0px 10px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in all;
}

.menu .menu-item .menu-link.active::after {
    opacity: 1;
    visibility: visible;
    transition: 0.2s ease-in all;
}

/* App content */
.app-content {
    height: calc(100% - 9.26%);
    overflow-y: auto;
}

/* Home */
.home-content,
.home-content-inner {
    height: 100%;
}

.home-content-inner {
    padding-top: 21.96px;
    max-width: 565px;
    margin: 0 auto;
    position: relative;
}

.information {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 29px;
    margin-left: auto;
    margin-right: auto;
}

.information-bar {
    width: 3.37px;
    background: #f1f5fd;
    height: 50px;
}

.information-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #afb0cc;
}

.information-value {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #435577;
}

.time-remain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 13.46px;
}

.time-remain-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #afb0cc;
}

.time-remain-countdown {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #004bbc;
}

.information-data-transfer {
    max-width: 234.43px;
}

.app-remain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 84px;
    width: 100%;
    border-radius: 42px;
    padding: 0 20px;
    border: 1.69px solid #f1f5fd;
    margin: 0 auto;
    background-color: #fff;
}

.remain-value {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #435577;
}

.btn.remain-btn {
    background: #ffffff;
    box-shadow: 0px 0px 3.37313px rgba(62, 128, 189, 0.25);
    border-radius: 84.3284px;
    padding: 0;
    padding: 0 10.12px;

    font-weight: 600;
    font-size: 21.9254px;
    text-align: center;
    color: #6083ff;
    height: 50.6px;
    border: none;
}

.remain-icon {
    margin-right: 6.24px;
}

.location-background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 518px;
    aspect-ratio: 518 / 299;
    z-index: -1;
}

.location-background img {
    width: 100%;
}

.connect-start {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-btn-start {
    border: none;
    margin: 0 auto;
    box-shadow: 0px 6.74627px 33.7313px rgba(62, 128, 189, 0.25);
    width: 114px;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8.5px;
    border-radius: 100%;
    background: conic-gradient(rgb(3, 133, 255) 0%s);
    transition: 0.1s ease-in-out all;
}

.connect-btn-bg {
    background: #6083ff;
    box-shadow: 0px 6.74627px 33.7313px rgba(62, 128, 189, 0.25);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.connect-btn-start:hover {
    cursor: pointer;
}

.connect-btn-start:hover .connect-btn-bg {
    background: #071547;
}

.btn-disconnect {
    outline: none;
    height: 50px;
    text-align: center;
    width: 167px;
    border-radius: 50px;
    background: #fff;
    border: 2px solid transparent;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    margin: 0 auto;
    display: block;
    background: #6083ff;
}

.btn-disconnect:hover {
    color: white;
    background: #153781;
}

.btn-disconnect:active {
    letter-spacing: 2px;
}

.btn-disconnect:after {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    content: 'Disconnect';
    color: #ffffff;
}

.onclic {
    width: 50px;
    border-color: #bbbbbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #6083ff;
    -webkit-animation: rotating 2s 0.25s linear infinite;
    animation: rotating 2s 0.25s linear infinite;
}

.btn-disconnect.onclic {
    background-color: #6083ff;
}

.onclic:after {
    content: '';
}

.onclic:hover {
    color: #153781;
    background: white;
}

.validate {
    font-size: 13px;
    color: white;
    background: #6083ff;
}
.validate:after {
    font-family: 'FontAwesome';
    content: '\f00c';
}

@-webkit-keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.connect-btn circle {
    stroke: #153781;
    stroke-dasharray: 144;
    stroke-dashoffset: 144;
    transition: all 0.9s linear;
    stroke-width: 2px;
}

.btn-start-new {
    transform-origin: center;
    display: inline-block;
    position: relative;
}

.btn-start-new svg {
    position: relative;
    box-shadow: 0px 3.8308px 19.154px rgba(62, 128, 189, 0.25);
    border-radius: 100%;
}

.btn-start-new svg circle {
    stroke-dasharray: 392;
    stroke-dashoffset: 342;
    transition: all 0.9s linear;
    stroke: none;
}

.btn-start-new.load svg circle {
    stroke: #0077ff;
    stroke-dashoffset: 0;
    transition: all 0.9s linear;
}

.btn-start-new.load.active svg circle {
    stroke: #fff;
    transition: all 0.9s ease-in-out;
}

.btn-start-new:hover {
    cursor: pointer;
}

.btn-start-new:hover ellipse {
    fill: #6082ffaf;
}

.btn-start-new.load.done {
    animation: rubberBand 0.8s;
}

.btn-start-new:after {
    content: '';
    position: absolute;
    display: block;
    width: 200%;
    height: 100%;
    background-image: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0)
    );
    transform: translateX(-100%);
    top: 0;
}

.btn-start-new.done:after {
    transform: translateX(50%);
    transition: transform 0.4s ease;
    transition-delay: 0.7s;
}

@keyframes rubberBand {
    from {
        transform: scale(1);
    }
    30% {
        transform: scale3d(1.15, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.15, 1);
    }
    50% {
        transform: scale3d(1.1, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

.btn-start-new.load.active ellipse {
    fill: #b5b5b5;
    transition: all 0.9s linear;
}

.btn-start-new.load.active circle {
    fill: #ededed;
    transition: all 0.9s linear;
}

.box-rating {
    background: rgba(228, 234, 255, 0.2);
    border-radius: 10px;
    padding: 15px 0;
    position: relative;
    max-width: 250px;
    margin: 0 auto 23px;
}

.box-rating-label {
    text-align: center;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #435577;
}

.rating-star {
    display: flex;
    max-width: 188px;
    margin: 6px auto 0;
    justify-content: center;
}

.star-item:hover {
    cursor: pointer;
}

.btn-close-rating {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-close-rating:hover {
    cursor: pointer;
}

.box-rating.inactive {
    display: none;
}

.connect-location-btn {
    text-decoration: none;
}

.connect-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #afb0cc;
    margin-bottom: 3.39px;
}

.connect-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border: 3.37313px solid #f1f5fd;
    border-radius: 84.3284px;
    width: 100%;
    height: 84px;
    padding: 0 18.55px;
    margin-bottom: 29px;
}

.connect-meta {
    display: flex;
    align-items: center;
}

.connect-flag {
    width: 45.54px;
    height: 45.54px;
    overflow: hidden;
    margin-right: 33.37px;
}

.connect-flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.location-name {
    font-weight: 600;
    font-size: 25px;
    color: #435577;
}

/* Search Location */
.search-location-content,
.location-panels {
    /* height: 100%; */
}

.location-panels {
    display: flex;
    justify-content: space-between;
    padding: 48.96px 68px 70px 72px;
}

.location-panels .location-tab-list {
    width: calc(50% - 21px);
    background: #f9fafe;
    border-radius: 20px;
    padding: 40px 50px;
    /* overflow-y: auto; */
    height: 100%;
}

.location-list {
    margin-bottom: 49px;
}

.location-list-header {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
}

.location-list-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #e9ebf8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.location-list-label {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #435577;
}

.location-list-content .location-item {
    display: flex;
    align-items: center;
    background: #ffffff;
    height: 68px;
    box-shadow: 0px 4px 9px rgba(115, 143, 169, 0.25);
    border-radius: 15px;
    padding: 0 40px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.location-item .location-meta {
    display: flex;
    align-items: center;
}

.location-item .location-flag {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 12px;
}

.location-item .location-name {
    font-weight: 600;
    font-size: 15px;
    color: #435577;
}

.location-item .location-ping {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.location-item .location-ping.medium {
    color: #ffbf60;
}

.location-item .location-ping.high {
    color: #3ed4b9;
}

.location-item .location-ping.low {
    color: #ff7a72;
}

.location-search-box {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.form-control.search-location-input {
    height: 70px;
    background: #e9ebf8;
    border-radius: 50px;
    padding: 0 100px 0 50px;
    font-weight: 400;
    font-size: 20px;
    color: #435577;
    border: none;
}

.btn.btn-search-location {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    background-color: transparent;
    border: none;
}

.btn.btn-search-location:hover,
.btn.btn-search-location:active,
.btn.btn-search-location:focus {
    background-color: transparent;
}

.location-item-action {
    display: flex;
    align-items: center;
}

.location-like {
    margin-left: 28px;
}

.location-like:hover {
    cursor: pointer;
}

.location-list-search .location-list .location-list-header {
    margin-bottom: 30px;
}

/* Account */
.account-content {
    padding: 48.96px 62px;
    height: 100%;
}

.account-meta-box {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.account-meta-box .account-avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 20px;
}

.account-meta-box .account-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.account-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #afb0cc;
    margin-bottom: 10px;
}

.account-email {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #435577;
}

.account-infor-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-infor-list {
    max-width: 596px;
}

.account-infor-list .account-infor-item:not(:last-child) {
    margin-bottom: 50px;
}

.account-infor-label {
    font-weight: 600;
    font-size: 20px;
    color: #435577;
}

.account-infor-value {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #435577;
}

.account-infor-dropdown select {
    height: 60px;
    background: #f9fafe;
    border: 2px solid #d7e1f7;
    border-radius: 10px;
    padding: 0 20px;
    min-width: 234px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #667185;
}

.account-infor-dropdown select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.account-infor-dropdown {
    position: relative;
}

.dropdown-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

/* Settings */
.setting-content {
    padding: 49.69px 49px;
}

.setting-tabs.nav-tabs {
    display: flex;
    justify-content: space-between;
    border: none;
}

.setting-tabs.nav-tabs .nav-item {
    width: calc((100% - 40px) / 3);
}

.setting-content .setting-tabs.nav-tabs .nav-link {
    height: 60px;
    background: #ffffff;
    box-shadow: 0px 4px 9px rgba(115, 143, 169, 0.25);
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #afb0cc;
    padding: 0;
    border: none;
    width: 100%;
    color: #435577;
}

.setting-content .setting-tabs.nav-tabs .nav-link.active {
    font-weight: 700;
}

.setting-tab-wrapper {
    max-width: 720px;
}

.setting-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setting-label {
    font-weight: 600;
    font-size: 20px;
    color: #435577;
    line-height: 24px;
    margin-bottom: 10px;
}

.setting-switcher-nodesc .setting-label {
    margin-bottom: 0;
}

.setting-desc {
    font-weight: 400;
    font-size: 16px;
    color: #afb0cc;
}

.tab-setting-wrap .setting-switcher:not(:last-child) {
    margin-bottom: 50px;
}

.tab-setting-wrap {
    padding-top: 59px;
}

.custom-switcher.form-switch .form-check-input {
    width: 67px;
    height: 38.03px;
}

.setting-dropdown {
    width: 100%;
    height: 60px;
    background: #fafbff;
    border: 2px solid #d7e1f7;
    border-radius: 10px;
    padding: 0 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 20px;
    color: #667185;
}

.setting-dropdown-input {
    width: 410px;
    position: relative;
}

.setting-dropdown-wrap {
    margin-bottom: 50px;
}

.setting-application .btn-add-application {
    background-color: transparent;
    border-color: #6083ff;
    font-weight: 600;
    font-size: 20px;
    color: #6083ff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.setting-application {
    display: flex;
    align-items: center;
}

.login-content {
    width: 100%;
    height: 100%;
    display: flex;
}

.login-decor {
    width: 47.65%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(149.94deg, #6688ff -15.67%, #294199 99.55%);
}

.login-form {
    width: calc(100% - 47.65%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form-login-wrap {
    max-width: 571px;
    width: 100%;
}

.decor-login-img img {
    width: 100%;
    max-width: 570px;
    aspect-ratio: 570 / 613;
}

.form-logo {
    margin-bottom: 78.64px;
    text-align: center;
}

.form-logo img {
    width: 100%;
    max-width: 235.23px;
    aspect-ratio: 235.23 / 89.36;
}

.form-login-inner {
    width: 100%;
    max-width: 571px;
}

.form-login-inner input {
    width: 100%;
    background: #ffffff;
    border: 3.07302px solid #e9ebf8;
    border-radius: 76.8254px;
    height: 80px;
    padding: 0 40px;
    font-weight: 500;
    font-size: 20px;
    color: #435577;
    margin-bottom: 20px;
}

.form-login-inner input::placeholder {
    font-weight: 500;
    font-size: 20px;
    color: #435577;
}

.form-action {
    margin-top: 134px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-action .btn-login {
    width: 250px;
    height: 80px;
    background: #6083ff;
    border-radius: 50px;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.link-form {
    font-weight: 400;
    font-size: 20px;
    color: #afb0cc;
    text-decoration: none;
}

.action-login {
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    color: #667185;
    width: 100%;
    text-align: center;
}

.action-link {
    font-weight: 600;
    font-size: 20px;
    color: #6083ff;
}

.upgrade-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(32, 32, 32, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.upgrade-box {
    width: 367px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 46px 0 56px;
    position: relative;
}

.upgrade-label {
    font-weight: 600;
    font-size: 20px;
    color: #435577;
    margin-bottom: 16px;
}

.btn.btn-upgrade-overlay {
    padding: 0;
    background: #6083ff;
    border-radius: 50px;
    width: 255px;
    height: 49px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    border-radius: 50px;
}

.btn.btn-close-upgrade-overlay {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    top: 15px;
    right: 15px;
}

.upgrade-overlay.inactive {
    display: none;
}

/* Responsive */
@media (max-width: 1200px) {
    .location-panels {
        padding: 48.96px 48px 72px;
    }

    .location-panels .location-tab-list {
        padding: 40px 30px;
    }

    .app-menu .logo {
        padding: 10px;
    }
}

@media (max-width: 1024px) {
    .login-decor {
        display: none;
    }

    .login-form {
        width: 100%;
        padding: 0 15px;
    }
    .location-panels {
        flex-wrap: wrap;
    }

    .location-panels .location-tab-list {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .menu .menu-item .menu-link img {
        width: 30px;
        height: 30px;
    }

    .menu .menu-item .menu-link::after {
        width: 4px;
    }

    .setting-content .setting-tabs.nav-tabs .nav-link {
        font-size: 16px;
    }

    .setting-label,
    .account-infor-label,
    .location-list-label,
    .form-control.search-location-input,
    .location-name,
    .btn.remain-btn,
    .remain-value {
        font-size: 18px;
    }

    .form-control.search-location-input {
        height: 54px;
    }

    .setting-content .setting-tabs.nav-tabs .nav-link {
        height: 40px;
    }

    .connect-box {
        height: 64px;
    }

    .connect-flag {
        width: 35px;
        height: 35px;
        margin-right: 20px;
    }

    .app-remain {
        height: 68px;
    }

    .setting-dropdown-input {
        width: 300px;
    }

    .setting-dropdown {
        height: 50px;
        font-size: 18px;
    }
    .custom-switcher.form-switch .form-check-input {
        width: 45px;
        height: 25px;
    }
}

@media (max-width: 576px) {
    .form-login-inner input {
        height: 55px;
        font-size: 18px;
    }

    .link-form,
    .action-text {
        font-size: 16px;
    }

    .app-menu .logo {
        display: none;
    }

    .form-action .btn-login {
        height: 45px;
        font-size: 18px;
    }

    .app-menu {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        width: 100%;
    }

    .menu .menu-item {
        margin: 0;
    }

    .main-menu .menu {
        flex-direction: row;
    }

    .menu .menu-item .menu-link::after {
        width: 100%;
        height: 4px;
        bottom: 0;
        left: 0;
        right: 0;
        top: unset;
        border-radius: 6px 6px 0 0;
    }

    .app-content {
        padding: 0 15px;
    }

    .location-panels {
        padding: 20px 0 50px;
    }

    .location-panels .location-tab-list {
        padding: 12px;
    }

    .location-list-content .location-item {
        padding: 0 10px;
    }

    .account-content {
        padding: 20px 0;
    }

    .setting-content {
        padding: 20px 0 80px;
    }

    .setting-content .setting-tabs.nav-tabs .nav-link {
        font-size: 13px;
    }

    .setting-tabs.nav-tabs .nav-item {
        width: calc((100% - 14px) / 3);
    }

    .logo-mobile {
        display: block;
    }

    .app-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
